.App {
  text-align: center;
}

body {
  background-color: blanchedalmond !important;
}

.navbar {
  background-color: rgb(126, 75, 0) !important;
}

.nav-link {
  font-weight: bold !important;
  font-size: 20px !important;
  color: white !important;
  margin: 10px;
}

.navbar-brand {
  margin-right: 0px !important;
}

.login-card {
  padding: 10px !important;
  background-color: rgb(126, 75, 0) !important;
  margin-top: 35px !important;
}